<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>feeds-admin-api</contextName>
    <property name="APP" value="feeds-admin-api"/>

    <springProperty scope="context" name="LOGGING_HOST" source="graylog.host"/>
    <springProperty scope="context" name="LOGGING_PORT" source="graylog.port"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Appenders -->
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${LOGGING_HOST}</graylogHost>
        <graylogPort>${LOGGING_PORT}</graylogPort>
        <layout class="de.siegmar.logbackgelf.GelfLayout">
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </fullPatternLayout>
            <staticField>_app:${APP}</staticField>
        </layout>
    </appender>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="info">
        <level value="info" />
    </logger>

    <!-- Loggers -->
    <logger name="com.walmart" level="info"/>

    <root level="info">
        <appender-ref ref="GELF"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
